<div class="container">
    <form class="mb-5" action="/searchProducts" method="GET">
        <div class="row">
            <input class="col form-control" type="text" name="productName" placeholder="Search">
            <button class="col-2" type="submit">Search</button>
        </div>
    </form>
</div>