<!-- container -->
<div class="container">
    <h5 class="text-danger">Main Category Name</h5>
    <br>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <br>
    <br>
    <br>
    <h5 class="text-danger">Subcategories</h5>
    <br>
    <div class="card mb-3 border-left-0 border-right-0 border-top-0" style="border-radius: 2px; border-width:6px; border-color: rgba(0, 0, 0, 0.692);">
        <img class="card-img-top" src="images/jinx.jpg" alt="Subcategory Image">
        <div class="card-body pl-0">
            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
            making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, 
            and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
            </p>
            <button class="btn btn-outline-danger btn-sm mb-2" type="button" style="border-radius: 12px;">View Products</button>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<!-- /container -->
