<!-- container -->
<div class="container">
    <% for(category of categories) { %>    
        <h5 class="text-danger"><%= category.name %></h5>
        <br>
        <p><%= category.page_description %></p>
    <% } %>
</div> 
<!-- /container -->
