<div class="container">
    <div class="row mb-5">
        <div class="col-6">
            <div class="card border-0">
                <div class="card-body">
                    <p class=" card-title">Product Name</p>
                    <div class="row">
                        <div class="col-6">
                            <img class="card-img-bottom w-100 h-100" src="images/jinx.jpg" alt="Product Image">
                        </div>
                        <div class="col-6">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="row">
                                <div class="col-8">
                                    <p class="card-text">Price: $ 123.00</p>
                                </div>
                                <div>
                                    <button class="btn btn-outline-danger btn-sm h-100" type="button" style="border-radius: 12px;">More Info</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-0">
                <div class="card-body">
                    <p class=" card-title">Product Name</p>
                    <div class="row">
                        <div class="col-6">
                            <img class="card-img-bottom w-100 h-100" src="images/jinx.jpg" alt="Product Image">
                        </div>
                        <div class="col-6">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="row">
                                <div class="col-8">
                                    <p class="card-text">Price: $ 123.00</p>
                                </div>
                                <div>
                                    <button class="btn btn-outline-danger btn-sm h-100" type="button" style="border-radius: 12px;">More Info</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>