<div class="container">
    <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Profile</h5>
            <p class="card-text">email: <%= user.user.email %></p>
            <p class="card-text text-danger">Email is not verified</p>
            <p class="card-text text-danger">Facebook not connected</p>
            <p class="card-text">Registered: <%= user.user.createdAt %></p>
        </div>
    </div>
</div>